{
  // 1、先执行 plugins 的配置项,再执行 Preset 的配置项
  // 2、plugins 配置项，按照声明顺序执行
  // 3、Preset 配置项，按照声明逆序执行
  "presets": [
    "@babel/preset-env"
    
  ],
  "plugins": [
    "transform-vue-jsx",
    "syntax-dynamic-import",
    // component 按需引入组件
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ]
  ]
}
