#demo-layout {
  color: rgb(27, 27, 27);
  height: 100vh;
  background-color: rgba(224, 224, 224, 0.26);
  .layout-side {
    width: 160px;
    background-color: $theme-color;
    height: 100%;
    border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -ms-border-radius: 0 3px 3px 0;
    -o-border-radius: 0 3px 3px 0;
}
  .right-container {
    height: 100%;
    .container-header {
      padding: 5px 20px;
      line-height: 60px;
      text-align: center;
      font-weight: bolder;
      .container-header-content {
        background-color: $theme-weak-color;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
      }
    }
    .container-content {
      min-height: calc(100% - 60px);
      
      .container-content-item {
        padding: 20px;
        height: calc(100% - 40px);
        border-radius: 3px;
        background-color: rgb(235, 235, 235);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
      }

      &::-webkit-scrollbar {
        width: 10px;
        height: 1px;
      }
      &::-webkit-scrollbar-thumb {
        /*滚动条里面小方块*/
        border-radius: 10px;
        box-shadow: inset 0 0 5px rgba(196, 196, 196, 0.2);
        background: #cccaca;
      }
      // background-color: $theme-hover-hover-color;
    }
  }
}
